:root{
    --primary-color: #e50914;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 1200px) {}
  @media only screen and (min-width: 992px){}
  @media only screen and (min-width: 600px){}
  @media only screen and (max-width: 600px){}

body{
    
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    
    background: #000;
    color: #999;
}
ul{
    list-style: none;
}
h1, h2, h3, h4 {
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
p {
    margin: 0.8rem 0;
}

.showcase {
    z-index: 1;
    width: 100%;
    height: 80vh;
    position: relative;
    background: url('image/bgnetflix.jpg') no-repeat center center/cover ;
    border-bottom: 8px solid #222;
    
}
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px 50px 100px  #030303, inset -25px -30px 100px  #030303;
}
.showcase-top {
    z-index: 2;
    position: relative;
    height: 90px;
    align-items: center;
}
.showcase-top img {
    z-index: 2;
    position: absolute;
    top: 48px;
    left: 140px;
    transform: translate(-50%,-50%);
}
.showcase-top a{
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}
.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
}
.showcase-content h1 {
    z-index: 2;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.1;
    margin: 1 0 1rem;
}
.showcase-content p {
    z-index: 2;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}
.showcase-content p1 {
    z-index: 2;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.25;
    margin: 0 0 1rem;
}
.flex-container input{
    position: relative;
    z-index: 2;
    margin-right: 30%;
    height: 65px;
    width: 750px;
    border: blue 1px;
}

.btn {
    z-index: 2;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor:pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px rgba(0, 0, 0,0.45);
    border-radius: 2px;
}
.btn:hover {
    opacity: 0.9;
}
.btn-rounded {
    z-index: 2;
    border-radius: 2px;
}

.btn-xl:hover{
    cursor: pointer;
    background-color: aliceblue;
    opacity: 0.9;
}
.flex-container{
    display: flex;
    align-items: center;
    position: relative;
}
.btn-xl{
    z-index: 2;
    cursor: pointer;
    font-size: 2rem;
    justify-content: center;
    padding: 5px;
    margin-left: 70%;
}
.flex-container .btn-xl{
    position: absolute;
    z-index: 2;
    display: flex;
    background: var(--primary-color);
    border: none;
    cursor:pointer;
    outline: none;
    box-shadow: 0 1px rgba(0, 0, 0,0.45);
    border-radius: 2px;
    height: 65px;
    width: 250px;
}
.our-story-card {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}

.animation-card .animation-card-container {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;}
    .animation-card.watchOnTv .our-story-card-text {
        margin: -5% 0;
    }
    .animation-card .our-story-card-text {
        width: 52%;
        height: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        padding: 0 3rem 0 0;
        z-index: 3;
    }
    
    .our-story-card-subtitle, .our-story-card-text {
        font-size: 1.625rem;
        font-weight: 400;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

  
    
    user agent stylesheet
    div {
        display: block;
    }
    
.animation-card .our-story-card-img-container {
    width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.animation-card.watchOnTv .our-story-card-animation-container {
    margin: -10% -5% -5% 0;
}
.animation-card .our-story-card-animation-container {
    position: relative;
    overflow: hidden;
}
.animation-card.watchOnDevice .our-story-card-img, .animation-card.watchOnTv .our-story-card-img {
    position: relative;
    z-index: 2;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
.animation-card.watchOnTv .our-story-card-animation {
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.animation-card.watchOnDevice .our-story-card-video, .animation-card.watchOnTv .our-story-card-video {
    width: 100%;
    height: 100%;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.animation-card-container1 .our-story-card-img-container1 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 
.animation-card-container1 .our-story-card-text1 {
        position: relative;
        margin-left: 5%;
        margin-top: 6%;
        width: 60%;
        height: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        padding: 0 3rem 0 0;
        z-index: 3;
        
    }

    .our-story-card-subtitle1, .our-story-card-text1 {
        font-size: 1.625rem;
        font-weight: 400;
        
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        
    }

    user agent stylesheet
    div {
        display: block;
    }

    .FAQ {
        border-bottom: 8px solid #222;
    }

    .FAQ h2{
        margin-top: 2%;
        margin-left: 35%;
        font-size: 3.5rem;
    }
    .faq-container{
        margin-left: 30%;
        margin-right: 25%;
        padding-bottom: 30px;
    }
    .q1-flex{
        padding-left: 20px;
        padding-top: 15px;
        height: 70px;
        border: #030303;
        background-color: rgb(48, 44, 44);
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
    }
    .userguide .call{
        color: rgba(124, 121, 121, 0.863);
        margin-top: 75px;
        margin-left:26%;
        font-size: 1.1rem;
    }

    .userguide .no{
        color: rgb(110, 105, 105);
    }
    .no:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .grid-container {
        margin-top: 15px;
        margin-left: 26%;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        height: 180px;
        width: 1000px;
      }
      .grid-item .a{
    
        color: rgba(153, 153, 153, 0.678);
        font-family: Arial;
        font-size: 13px;
        text-align:left;
        
      }
      .grid-item:hover{
          cursor: pointer;
          text-decoration: underline;
          text-decoration: underline 1px solid #fff;
      }


      