*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body{
    
    background: url(image/bgnetflix.jpg) no-repeat;
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 1200px) {}
  @media only screen and (min-width: 992px){}
  @media only screen and (min-width: 600px){}
  @media only screen and (max-width: 600px){}
.showcase {
    padding-left:40px;
    position: relative;
    z-index: 2;

}


body::after{
    content: url();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
    
}
.card-container {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.747) ;
    position: relative;
    margin-left:37% ;
    margin-right:37%;
   
}
.card{
    justify-content:center;
    padding-top:60px;
    padding-left: 80px;
    z-index: 2;
    padding-bottom: 10%;
    position: relative;
   
    
}
input.user {
    color: white;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1rem;
    justify-content: center;
    padding-left: 10px;
    border-radius: 4px;
    width: 80%;
    height: 50px;
    border: none;
    background-color:rgba(54, 51, 51, 0.747) ;
}
.card h2 {
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    font-size: 2rem;
}
button{
    
    height: 50px;
    width: 80%;
    font-weight: bold;
    color:white;
    border-radius: 4px;
    border: none;
    background-color: #e50914;
    z-index: 2;
    cursor: pointer;
    font-size: 1rem;
    justify-content: center;
    padding: 5px;
    
}
.help-flex{
    display: flex;
    align-items: center;
}
.help-flex input{
    height: 18px;
    width: 20px;
}
.help-flex a{
    color: rgba(158, 152, 152, 0.959);
    text-decoration: none;
}
.help-flex a:hover{
    text-decoration: underline;
}
p{
    padding-left: 1px;
    font-size: 0.8rem;
    color: rgba(170, 163, 163, 0.959);
}
.fb-flex{
    display: flex;
}

.fb-flex p{
    letter-spacing: normal;
    margin-top: 2px;
    padding-left: 10px;
    font-size: 0.8rem;
    color: rgba(141, 134, 134, 0.89); 

}
.signup-flex{
    display: flex;
    padding-top: 15px;
}
.signup-flex p{
    font-size: 1rem;
    color: rgba(141, 134, 134, 0.89); 
}
.signup-flex a{
    padding-left: 10px;
    font-weight: 400;
    color: white;
    text-decoration:none;
}
.signup-flex a:hover{
    text-decoration: underline;
}
.learn {
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
    padding-top: 15px;
    color: rgba(141, 134, 134, 0.89);
}
.learn a{
    color: rgb(0, 68, 255);
    text-decoration: none;

}
.learn a:hover{
    text-decoration: underline;
}

.userguide{
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.884) ;
}
.userguide .call{
    padding-top: 30px;
    position: relative;
    color: rgba(141, 134, 134, 0.89);
    margin-top: 76px;
    margin-left:24%;
    font-size: 1.1rem;
}
.call .no{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: rgba(141, 134, 134, 0.89);
}
.no:hover{
    text-decoration: underline;
    cursor: pointer;
}

.flex-container {
    margin-top: 25px;
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 80px;
    width: 100%;
  }
  .grid-item .b{
    text-decoration: none;
    color: rgba(141, 134, 134, 0.89);
    font-family: Arial;
    font-size: 13px;
    text-align:left;
    row-gap: 20px;
    
  }
  .grid-item:hover{
      cursor: pointer;
      text-decoration:underline;
  }
  #lang-switcher{ 
      padding-top: 200px;
    -webkit-text-size-adjust: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-size: 1em;
    color: #757575;
    margin-top: 20px;}
 